@font-face{
    font-family: 'neutralFace';
    src: url('C:\Users\thomsonkr\Downloads\neutral_face\Neutral face\NeutralFace.otf')
}

/*bold*/
@font-face {
    font-family: 'neutralFace';
    src: url('C:\Users\thomsonkr\Downloads\neutral_face\Neutral face\NeutralFace-Bold.otf');
    font-weight: bold;
}

html, body{
    margin: 0px;
    padding: 1%;
    width: 100%;
    height: 100%;
}

html, head, body, button{
    background-color: black;
}

a, button, h1, h2, h3, h4, h5, h6, p{
    color: white;
    font-family: 'NeutralFace', sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: clamp(.6rem, -0.875rem + 8.333vw, 1.75rem);
}



button{
    border-radius: 10px;
    padding: 0;
    height: 1.8rem;
    margin-top: 1%;
    margin-left: 5%;
}

.box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .box:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
  }
  
  .box:hover::after {
      opacity: 1;
  }
  

.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.featured-member{
    border-radius: 50%;
    width: 80%;
    margin-top: 20px;
    filter: drop-shadow(0 0 0.75rem black);
}

.greenhouse-img{
    border-radius: 5px;
    width: 100%;;
}

.major-theme-img{
    width: 100%;
    border-radius: 15px;
    max-height: 375px;
}

.member-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width: 25%;
    margin-top: 3.5%;
    margin-right: 3%;;
}

.member-card p{
    color: black;
    font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
    text-align: center;
}

.new-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
}

.major-themes{
    margin-top: 5%;
    margin-bottom: 5%;
}

.name{
    color: black;
    font-size: clamp(.8rem, -0.875rem + 8.333vw, 2.75rem);
    margin: 0;
    margin-top: 1%;text-align: center;
}

h1{
    font-size: clamp(1rem, -0.875rem + 8.333vw, 5rem);
    margin: 0px;
}

h2{
    font-size: clamp(1rem, -0.875rem + 8.333vw, 2.5rem);
    margin: 0px;
    padding: 1%, 1%, 1%, 1%;
}

nav{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}

section{
    display: flex;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right{
    width: 50%;
}

.nav-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-right{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.animated-border-button {
    border: none;
    outline: none;
    padding-right: 5%;
    padding-left: 5%;
    position: relative;
  }
  
  .animated-border-button:before,
  .animated-border-button:after {
    border: 0 solid transparent;
    transition: all 0.3s;
    content: '';
    height: 0;
    position: absolute;
    width: 0px;
  }
  
  .animated-border-button:before {
    border-top: 2px solid white;
    right: 0;
    top: -4px;
  }
  
  .animated-border-button:after {
    border-bottom: 2px solid white;
    bottom: -4px;
    left: 0;
  }
  
  .animated-border-button:hover:before,
  .animated-border-button:hover:after {
    width: 100%;
  }